$color-light-grey: #e5e5e5;

.c-service {
    padding:  120px 0 70px 0;

    &__list {
        margin-top: 15px;

        display: flex;
        flex-direction: column;
    }

    &__row {
        display: flex;

        justify-content: space-between;

        border-bottom: 1px solid $color-light-grey;

        padding: 50px 0;

        &:last-child {
            border: none;
        }
    }

}

@import "common/c-service-item/c-service-item";
