$color-white: #fff;

.c-intro {

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    z-index: 1;

    background: url("../images/intro/intro-background.jpg");
    background-size: cover;
    background-position: center;

    &__message {
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    &__title {
        color: $color-white;
        
        font-family: 'Montserrat', sans-serif;
        font-size: 9.375rem;
        font-weight: 700;

        text-transform: uppercase;

        text-align: center;

        width: 100%;
        max-width: 850px;

        &:after {
            content: '';

            display: block;

            width: 60px;
            height: 3px;

            background: $color-white;

            margin: 75px auto 0 auto;
        }
    }

    &__suptitle {
        color: $color-white;

        font-family: 'Kaushan Script', cursive;
        font-size: 4.5rem;
        font-weight: 400;

        width: 100%;
        max-width: 520px;

        text-align: center;
    }

    &__button {
        margin-top: 55px;
    }

    &__slider-info {
        position: absolute;

        bottom: 30px;
        left: 0;
    }

    @media (max-width: 769px) {
        &__title {
            font-size: 7rem;

            &:after {
                margin-top: 40px;
            }
        }

        &__suptitle {
            font-size: 3rem;
        }
    }

    @media (max-width: 480px) {
        &__title {
            font-size: 4rem;
        }

        &__suptitle {
            font-size: 2rem;
        }
    }


}