.c-section {
    padding: 110px 0;

    &__message {
        margin-bottom: 50px;
    }

    &--no-botton-padding {
        padding-bottom: 0;
    }
}


@import "common/c-section-message/c-section-message";