.c-section {
    padding: 110px 0;

    &__message {
        margin-bottom: 50px;
    }

    &--no-botton-padding {
        padding-bottom: 0;
    }

    @media (max-width: 601px) {
        padding: 70px 0;

        &--no-botton-padding {
            padding-bottom: 0;
        }
    }
}


@import "common/c-section-message/c-section-message";