@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ul {
  padding-left: 1.4em;
  list-style: disc;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999;
}

.l-wrapper {
  position: relative;
}
.l-wrapper__header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.l-container {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.c-section {
  padding: 110px 0;
}
.c-section__message {
  margin-bottom: 50px;
}
.c-section--no-botton-padding {
  padding-bottom: 0;
}

.c-section-message {
  text-align: center;
}
.c-section-message__title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0.8em;
}
.c-section-message__title:after {
  content: "";
  display: block;
  background: #f38181;
  height: 3px;
  width: 60px;
  margin: 40px auto 0 auto;
}
.c-section-message__suptitle {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
}
.c-section-message__text {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999;
  margin-top: 2.81em;
  line-height: 1.4;
}

.c-slider-info {
  width: 100%;
}
.c-slider-info__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.c-slider-info__item {
  width: 23%;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}
.c-slider-info__item--is-active {
  opacity: 1;
}
.c-slider-info__progress-background {
  width: 100%;
  height: 3px;
  background: #fff;
}
.c-slider-info__progress {
  width: 0;
  height: 100%;
  background: #f38181;
}
.c-slider-info__title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.4em;
}
.c-slider-info__number {
  font-size: 1.5rem;
  font-weight: 700;
}

.c-header {
  padding: 30px 0;
  width: 100%;
}
.c-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-header__logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-nav__link {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0.7em;
  position: relative;
  transition: color 0.5s;
}
.c-nav__link:after {
  content: "";
  display: block;
  background: #fff;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.5s, background 0.5s, opacity 0.5s;
}
.c-nav__link:hover {
  color: #fce38a;
}
.c-nav__link:hover:after {
  transform: translateY(3px);
  background: #fce38a;
  opacity: 1;
}
.c-nav__link--icon-link {
  font-size: 1.125rem;
}
.c-nav__link--icon-link:after {
  display: none;
}

.o-button {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.86em 2.15em;
  border: 3px solid #fff;
  transition: background 0.5s, color 0.5s;
}
.o-button:hover {
  background: #fff;
  color: #fce38a;
}

.c-intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background: url("/assets/images/intro/intro-background.jpg");
  background-size: cover;
}
.c-intro__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-intro__title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 9.375rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  max-width: 850px;
}
.c-intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 75px auto 0 auto;
}
.c-intro__suptitle {
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  max-width: 520px;
}
.c-intro__button {
  margin-top: 55px;
}
.c-intro__slider-info {
  position: absolute;
  bottom: 30px;
  left: 0;
}

.c-about__list {
  display: flex;
  justify-content: space-between;
}
.c-about__item {
  width: 380px;
}

.c-image-card {
  background: #95e1d3;
}
.c-image-card__inner {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s;
}
.c-image-card__image-container {
  transition: opacity 0.2s;
}
.c-image-card__image {
  display: block;
  width: 100%;
}
.c-image-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.c-image-card__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-image-card__socials {
  display: flex;
}
.c-image-card__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f38181;
  background: #fce38a;
  width: 60px;
  height: 60px;
  border-right: 1px solid #f9bd87;
  font-size: 1.5rem;
  transition: color 0.5s, background 0.5s;
}
.c-image-card__social-item:last-child {
  border-right: none;
}
.c-image-card__social-item:hover {
  color: #fff;
  background: #f38181;
}
.c-image-card:hover .c-image-card__inner {
  transform: translate(-0.625rem, -0.625rem);
}
.c-image-card:hover .c-image-card__image-container {
  opacity: 0.1;
}
.c-image-card:hover .c-image-card__title {
  opacity: 1;
}
.c-image-card--static:hover .c-image-card__inner {
  transform: translate(0);
}

.c-stats {
  width: 100%;
  background: #95e1d3;
}
.c-stats__inner {
  display: flex;
}
.c-stats__item {
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 90px 0;
}
.c-stats__item:last-child {
  border: 1px solid #b5eae0;
}
.c-stats__number {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}
.c-stats__title {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.c-service__list {
  display: flex;
  flex-direction: column;
}
.c-service__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 0;
}
.c-service__row:last-child {
  border: none;
}

.c-service-item {
  position: relative;
}
.c-service-item__image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.c-service-item__message {
  margin-left: 60px;
}
.c-service-item__title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.c-service-item__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-top: 1.4em;
  line-height: 1.4;
}

.c-devices {
  background: url("/assets/images/devices/devices-bg.jpg");
  background-size: cover;
  background-position: center;
}
.c-devices__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-devices__devices {
  display: flex;
  justify-content: center;
}
.c-devices__images-container {
  transform: translateX(-1.625rem);
  position: relative;
}
.c-devices__iphone {
  position: absolute;
  bottom: -70px;
  right: -140px;
}

.c-service-info__container {
  display: flex;
  justify-content: space-between;
}
.c-service-info__accordion-container {
  width: 50%;
}
.c-service-info__accordion-item {
  width: 100%;
  margin-bottom: 0.9375rem;
}

.c-accordion-item {
  border: 1px solid #e5e5e5;
}
.c-accordion-item__header {
  padding: 1.5625rem 1.25rem 1.5625rem 0.94rem;
  position: relative;
}
.c-accordion-item__icon-container {
  position: absolute;
  top: 50%;
  left: 0.94rem;
  z-index: 100;
  transform: translateY(-50%);
}
.c-accordion-item__title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 45px;
  display: flex;
  align-items: center;
  height: 100%;
}
.c-accordion-item__arrow {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  z-index: 100;
  transform: translateY(-50%);
  cursor: pointer;
}
.c-accordion-item__body {
  padding: 1.25rem 3.4375rem 1.25rem 1.25rem;
  position: relative;
  display: none;
}
.c-accordion-item__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.4;
}
.c-accordion-item__scrollbar {
  height: 80%;
  position: absolute;
  top: 50%;
  right: 1.5625rem;
  transform: translateY(-50%);
  z-index: 100;
}
.c-accordion-item--is-active .c-accordion-item__header {
  border-bottom: 1px solid #e5e5e5;
}
.c-accordion-item--is-active .c-accordion-item__arrow {
  transform: translateY(-50%) rotate(180deg);
}
.c-accordion-item--is-active .c-accordion-item__body {
  display: block;
}

.o-scrollbar {
  background: #f5f5f5;
  border-radius: 20px;
  width: 5px;
}
.o-scrollbar__tumb {
  background: #95e1d3;
  border: 20px;
  height: 40%;
}

.o-arrow__icon {
  color: #cccccc;
  font-size: 1.125em;
  transition: color 0.3s, transfrom 0.3s;
}
.o-arrow__icon:hover {
  color: #f38181;
  transform: scale(1.1);
}
.o-arrow--large .o-arrow__icon {
  font-size: 2em;
}
.o-arrow--right .o-arrow__icon {
  transform: rotate(0);
}
.o-arrow--right .o-arrow__icon:hover {
  transform: scale(1.1) rotate(0);
}
.o-arrow--left .o-arrow__icon {
  transform: rotate(180deg);
}
.o-arrow--left .o-arrow__icon:hover {
  transform: scale(1.1) rotate(180deg);
}
.o-arrow--down .o-arrow__icon {
  transform: rotate(90deg);
}
.o-arrow--down .o-arrow__icon:hover {
  transform: scale(1.1) rotate(90deg);
}
.o-arrow--up .o-arrow__icon {
  transform: rotate(-90deg);
}
.o-arrow--up .o-arrow__icon:hover {
  transform: scale(1.1) rotate(-90deg);
}

.c-reviews__button {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  cursor: pointer;
}
.c-reviews__button--prev {
  left: 0;
}
.c-reviews__button--next {
  right: 0;
}
.c-reviews__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  position: relative;
}
.c-reviews__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 250px;
}
.c-reviews__avatar-container {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateY(-50%);
}
.c-reviews__avatar {
  border-radius: 50%;
  border: 3px solid #95e1d3;
}
.c-reviews__item-content {
  display: flex;
  flex-direction: column;
}
.c-reviews__item-text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
}
.c-reviews__author {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.875rem;
}
.c-reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: center;
  height: 3px;
  width: 60px;
  background: #f38181;
  margin-right: 10px;
}

.o-arrow__icon {
  color: #cccccc;
  font-size: 1.125em;
  transition: color 0.3s, transfrom 0.3s;
}
.o-arrow__icon:hover {
  color: #f38181;
  transform: scale(1.1);
}
.o-arrow--large .o-arrow__icon {
  font-size: 2em;
}
.o-arrow--right .o-arrow__icon {
  transform: rotate(0);
}
.o-arrow--right .o-arrow__icon:hover {
  transform: scale(1.1) rotate(0);
}
.o-arrow--left .o-arrow__icon {
  transform: rotate(180deg);
}
.o-arrow--left .o-arrow__icon:hover {
  transform: scale(1.1) rotate(180deg);
}
.o-arrow--down .o-arrow__icon {
  transform: rotate(90deg);
}
.o-arrow--down .o-arrow__icon:hover {
  transform: scale(1.1) rotate(90deg);
}
.o-arrow--up .o-arrow__icon {
  transform: rotate(-90deg);
}
.o-arrow--up .o-arrow__icon:hover {
  transform: scale(1.1) rotate(-90deg);
}

.c-work__list {
  display: flex;
  width: 100%;
}
.c-work__column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.c-clients {
  background: url("/assets/images/clients/clients-bg.jpg");
  background-size: cover;
  background-position: center;
}
.c-clients__list {
  display: grid;
  grid-row-gap: 70px;
}
.c-clients__row {
  display: flex;
  justify-content: space-between;
}
.c-clients__item {
  position: relative;
  padding-left: 140px;
  width: 45%;
}
.c-clients__photo-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.c-clients__info:after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background: #f38181;
  margin-top: 1.25rem;
}
.c-clients__name {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-clients__job {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 1.25rem;
}
.c-clients__comment {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  margin-top: 1.5625rem;
  line-height: 1.4;
}

.c-team__list {
  display: flex;
  justify-content: space-between;
}
.c-team__item {
  width: 30%;
}

.c-image-card {
  background: #95e1d3;
}
.c-image-card__inner {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s;
}
.c-image-card__image-container {
  transition: opacity 0.2s;
}
.c-image-card__image {
  display: block;
  width: 100%;
}
.c-image-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.c-image-card__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-image-card__socials {
  display: flex;
}
.c-image-card__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f38181;
  background: #fce38a;
  width: 60px;
  height: 60px;
  border-right: 1px solid #f9bd87;
  font-size: 1.5rem;
  transition: color 0.5s, background 0.5s;
}
.c-image-card__social-item:last-child {
  border-right: none;
}
.c-image-card__social-item:hover {
  color: #fff;
  background: #f38181;
}
.c-image-card:hover .c-image-card__inner {
  transform: translate(-0.625rem, -0.625rem);
}
.c-image-card:hover .c-image-card__image-container {
  opacity: 0.1;
}
.c-image-card:hover .c-image-card__title {
  opacity: 1;
}
.c-image-card--static:hover .c-image-card__inner {
  transform: translate(0);
}
/*# sourceMappingURL=main.css.map */
