@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ul {
  padding-left: 1.4em;
  list-style: disc;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999;
}
@media (max-width: 1201px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 993px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 769px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 601px) {
  html {
    font-size: 11px;
  }
}

.l-wrapper {
  position: relative;
}
.l-wrapper__header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.l-container {
  max-width: 1200px;
  padding: 0 30px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1201px) {
  .l-container {
    max-width: 100%;
  }
}

.c-header {
  padding: 30px 0;
  width: 100%;
}
.c-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-header__logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}
@media (max-width: 769px) {
  .c-header__nav {
    display: none;
  }
}

.c-nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-nav__link {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0.7em;
  position: relative;
  transition: color 0.5s;
}
.c-nav__link:after {
  content: "";
  display: block;
  background: #fff;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.5s, background 0.5s, opacity 0.5s;
}
.c-nav__link:hover {
  color: #fce38a;
}
.c-nav__link:hover:after {
  transform: translateY(3px);
  background: #fce38a;
  opacity: 1;
}
.c-nav__link--icon-link {
  font-size: 1.125rem;
}
.c-nav__link--icon-link:after {
  display: none;
}

.o-button {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.86em 2.15em;
  border: 3px solid #fff;
  transition: background 0.5s, color 0.5s;
}
.o-button:hover {
  background: #fff;
  color: #fce38a;
}

.c-slider-info {
  width: 100%;
}
.c-slider-info__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.c-slider-info__item {
  width: 23%;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}
.c-slider-info__item--is-active {
  opacity: 1;
}
.c-slider-info__progress-background {
  width: 100%;
  height: 3px;
  background: #fff;
}
.c-slider-info__progress {
  width: 0;
  height: 100%;
  background: #f38181;
}
.c-slider-info__title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.4em;
}
.c-slider-info__number {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 829px) {
  .c-slider-info__name {
    display: none;
  }
}

.c-intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background: url("../images/intro/intro-background.jpg");
  background-size: cover;
}
.c-intro__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-intro__title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 9.375rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 850px;
}
.c-intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 75px auto 0 auto;
}
.c-intro__suptitle {
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  width: 100%;
  max-width: 520px;
  text-align: center;
}
.c-intro__button {
  margin-top: 55px;
}
.c-intro__slider-info {
  position: absolute;
  bottom: 30px;
  left: 0;
}
@media (max-width: 769px) {
  .c-intro__title {
    font-size: 7rem;
  }
  .c-intro__title:after {
    margin-top: 40px;
  }
  .c-intro__suptitle {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .c-intro__title {
    font-size: 4rem;
  }
  .c-intro__suptitle {
    font-size: 2rem;
  }
}

.c-section {
  padding: 110px 0;
}
.c-section__message {
  margin-bottom: 50px;
}
.c-section--no-botton-padding {
  padding-bottom: 0;
}

.c-section-message {
  text-align: center;
}
.c-section-message__title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0.8em;
}
.c-section-message__title:after {
  content: "";
  display: block;
  background: #f38181;
  height: 3px;
  width: 60px;
  margin: 40px auto 0 auto;
}
.c-section-message__suptitle {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
}
.c-section-message__text {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999;
  margin-top: 2.81em;
  line-height: 1.4;
}

.c-about__list {
  display: flex;
  justify-content: space-between;
}
.c-about__item {
  width: 31%;
}
@media (max-width: 769px) {
  .c-about__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .c-about__item {
    width: 100%;
    max-width: 380px;
    margin-bottom: 60px;
  }
}

.c-image-card {
  background: #95e1d3;
}
.c-image-card__inner {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s;
}
.c-image-card__image-container {
  transition: opacity 0.2s;
}
.c-image-card__image {
  display: block;
  width: 100%;
}
.c-image-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.c-image-card__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-image-card__socials {
  display: flex;
}
.c-image-card__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f38181;
  background: #fce38a;
  width: 60px;
  height: 60px;
  border-right: 1px solid #f9bd87;
  font-size: 1.5rem;
  transition: color 0.5s, background 0.5s;
}
.c-image-card__social-item:last-child {
  border-right: none;
}
.c-image-card__social-item:hover {
  color: #fff;
  background: #f38181;
}
.c-image-card:hover .c-image-card__inner {
  transform: translate(-0.625rem, -0.625rem);
}
.c-image-card:hover .c-image-card__image-container {
  opacity: 0.1;
}
.c-image-card:hover .c-image-card__title {
  opacity: 1;
}
.c-image-card--static:hover .c-image-card__inner {
  transform: translate(0);
}
@media (max-width: 993px) {
  .c-image-card__social-item {
    width: 45px;
    height: 45px;
    font-size: 1rem;
  }
}
@media (max-width: 769px) {
  .c-image-card__social-item {
    font-size: 1.5rem;
  }
}

.c-stats {
  width: 100%;
  background: #95e1d3;
}
.c-stats__inner {
  display: flex;
}
.c-stats__item {
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 90px 0;
}
.c-stats__item:last-child {
  border: 1px solid #b5eae0;
}
.c-stats__number {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}
.c-stats__title {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 769px) {
  .c-stats__inner {
    flex-wrap: wrap;
  }
  .c-stats__item {
    border: none;
    min-width: 200px;
  }
  .c-stats__item:last-child {
    border: none;
  }
}
@media (max-width: 601px) {
  .c-stats__inner {
    flex-direction: column;
  }
  .c-stats__item {
    border: 0;
    padding: 45px 0;
    border-top: 1px solid #b5eae0;
  }
  .c-stats__item:last-child {
    border: 0;
    border-top: 1px solid #b5eae0;
    border-bottom: 1px solid #b5eae0;
  }
}

.c-service__list {
  display: flex;
  flex-direction: column;
}
.c-service__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 0;
}
.c-service__row:last-child {
  border: none;
}
.c-service__item {
  max-width: 30%;
}
@media (max-width: 769px) {
  .c-service__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .c-service__list {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .c-service__item {
    max-width: 100%;
    margin-bottom: 45px;
  }
  .c-service__row {
    flex-direction: column;
    width: 45%;
    align-items: center;
    border: none;
    padding: 0;
  }
}
@media (max-width: 601px) {
  .c-service__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .c-service__list {
    width: 100%;
    max-width: 400px;
    flex-direction: column;
  }
  .c-service__item {
    max-width: 100%;
    margin-bottom: 45px;
  }
  .c-service__row {
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: none;
    padding: 0;
  }
}

.c-service-item {
  position: relative;
}
.c-service-item__image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.c-service-item__message {
  margin-left: 60px;
}
.c-service-item__title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.c-service-item__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-top: 1.4em;
  line-height: 1.4;
}

.c-devices {
  background: url("../images/devices/devices-bg.jpg");
  background-size: cover;
  background-position: center;
}
.c-devices__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-devices__devices {
  display: flex;
  justify-content: center;
}
.c-devices__images-container {
  transform: translateX(-1.625rem);
  position: relative;
}
.c-devices__ipad {
  display: block;
  max-width: 100%;
  height: auto;
}
.c-devices__iphone {
  position: absolute;
  bottom: -70px;
  right: -140px;
}
@media (max-width: 601px) {
  .c-devices__images-container {
    max-width: 320px;
  }
  .c-devices__iphone {
    max-width: 180px;
    bottom: -50px;
    right: -80px;
  }
}

.c-service-info__image-container {
  width: 50%;
  padding: 0 15px;
}
.c-service-info__image {
  max-width: 100%;
  height: auto;
  display: block;
}
.c-service-info__container {
  display: flex;
  justify-content: space-between;
}
.c-service-info__accordion-container {
  width: 50%;
  padding: 0 15px;
}
.c-service-info__accordion-item {
  width: 100%;
  margin-bottom: 0.9375rem;
}
@media (max-width: 769px) {
  .c-service-info__image-container {
    display: none;
  }
  .c-service-info__accordion-container {
    width: 100%;
  }
}

.c-accordion-item {
  border: 1px solid #e5e5e5;
}
.c-accordion-item__header {
  padding: 1.5625rem 1.25rem 1.5625rem 0.94rem;
  position: relative;
}
.c-accordion-item__icon-container {
  position: absolute;
  top: 50%;
  left: 0.94rem;
  z-index: 100;
  transform: translateY(-50%);
}
.c-accordion-item__title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 45px;
  display: flex;
  align-items: center;
  height: 100%;
}
.c-accordion-item__arrow {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  z-index: 100;
  transform: translateY(-50%);
  cursor: pointer;
}
.c-accordion-item__body {
  padding: 1.25rem 3.4375rem 1.25rem 1.25rem;
  position: relative;
  display: none;
}
.c-accordion-item__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.4;
}
.c-accordion-item__scrollbar {
  height: 80%;
  position: absolute;
  top: 50%;
  right: 1.5625rem;
  transform: translateY(-50%);
  z-index: 100;
}
.c-accordion-item--is-active .c-accordion-item__header {
  border-bottom: 1px solid #e5e5e5;
}
.c-accordion-item--is-active .c-accordion-item__arrow {
  transform: translateY(-50%) rotate(180deg);
}
.c-accordion-item--is-active .c-accordion-item__body {
  display: block;
}

.o-scrollbar {
  background: #f5f5f5;
  border-radius: 20px;
  width: 5px;
}
.o-scrollbar__tumb {
  background: #95e1d3;
  border: 20px;
  height: 40%;
}

.o-arrow__icon {
  color: #cccccc;
  font-size: 1.125em;
  transition: color 0.3s, transfrom 0.3s;
}
.o-arrow__icon:hover {
  color: #f38181;
  transform: scale(1.1);
}
.o-arrow--large .o-arrow__icon {
  font-size: 2em;
}
.o-arrow--right .o-arrow__icon {
  transform: rotate(0);
}
.o-arrow--right .o-arrow__icon:hover {
  transform: scale(1.1) rotate(0);
}
.o-arrow--left .o-arrow__icon {
  transform: rotate(180deg);
}
.o-arrow--left .o-arrow__icon:hover {
  transform: scale(1.1) rotate(180deg);
}
.o-arrow--down .o-arrow__icon {
  transform: rotate(90deg);
}
.o-arrow--down .o-arrow__icon:hover {
  transform: scale(1.1) rotate(90deg);
}
.o-arrow--up .o-arrow__icon {
  transform: rotate(-90deg);
}
.o-arrow--up .o-arrow__icon:hover {
  transform: scale(1.1) rotate(-90deg);
}

.c-reviews__button {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  cursor: pointer;
}
.c-reviews__button--prev {
  left: 0;
}
.c-reviews__button--next {
  right: 0;
}
.c-reviews__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
  position: relative;
  max-width: 100%;
}
.c-reviews__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 250px;
}
.c-reviews__avatar-container {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateY(-50%);
}
.c-reviews__avatar {
  border-radius: 50%;
  border: 3px solid #95e1d3;
}
.c-reviews__item-content {
  display: flex;
  flex-direction: column;
}
.c-reviews__item-text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
}
.c-reviews__author {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.875rem;
}
.c-reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: center;
  height: 3px;
  width: 60px;
  background: #f38181;
  margin-right: 10px;
}
@media (max-width: 993px) {
  .c-reviews__inner {
    padding: 0 50px;
  }
  .c-reviews__item {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .c-reviews__item-content {
    margin-top: 1.25rem;
  }
  .c-reviews__avatar-container {
    position: static;
    transform: translate(0);
    display: flex;
    justify-content: center;
  }
  .c-reviews__avatar {
    width: 200px;
  }
}
@media (max-width: 601px) {
  .c-reviews__inner {
    padding: 0;
  }
  .c-reviews__button {
    top: 25%;
  }
  .c-reviews__avatar {
    width: 150px;
  }
}

.o-arrow__icon {
  color: #cccccc;
  font-size: 1.125em;
  transition: color 0.3s, transfrom 0.3s;
}
.o-arrow__icon:hover {
  color: #f38181;
  transform: scale(1.1);
}
.o-arrow--large .o-arrow__icon {
  font-size: 2em;
}
.o-arrow--right .o-arrow__icon {
  transform: rotate(0);
}
.o-arrow--right .o-arrow__icon:hover {
  transform: scale(1.1) rotate(0);
}
.o-arrow--left .o-arrow__icon {
  transform: rotate(180deg);
}
.o-arrow--left .o-arrow__icon:hover {
  transform: scale(1.1) rotate(180deg);
}
.o-arrow--down .o-arrow__icon {
  transform: rotate(90deg);
}
.o-arrow--down .o-arrow__icon:hover {
  transform: scale(1.1) rotate(90deg);
}
.o-arrow--up .o-arrow__icon {
  transform: rotate(-90deg);
}
.o-arrow--up .o-arrow__icon:hover {
  transform: scale(1.1) rotate(-90deg);
}

.c-team__list {
  display: flex;
  justify-content: space-between;
}
.c-team__item {
  width: 30%;
}
@media (max-width: 769px) {
  .c-team__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .c-team__item {
    max-width: 410px;
    width: 100%;
    margin-bottom: 60px;
  }
}

.c-image-card {
  background: #95e1d3;
}
.c-image-card__inner {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s;
}
.c-image-card__image-container {
  transition: opacity 0.2s;
}
.c-image-card__image {
  display: block;
  width: 100%;
}
.c-image-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.c-image-card__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-image-card__socials {
  display: flex;
}
.c-image-card__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f38181;
  background: #fce38a;
  width: 60px;
  height: 60px;
  border-right: 1px solid #f9bd87;
  font-size: 1.5rem;
  transition: color 0.5s, background 0.5s;
}
.c-image-card__social-item:last-child {
  border-right: none;
}
.c-image-card__social-item:hover {
  color: #fff;
  background: #f38181;
}
.c-image-card:hover .c-image-card__inner {
  transform: translate(-0.625rem, -0.625rem);
}
.c-image-card:hover .c-image-card__image-container {
  opacity: 0.1;
}
.c-image-card:hover .c-image-card__title {
  opacity: 1;
}
.c-image-card--static:hover .c-image-card__inner {
  transform: translate(0);
}
@media (max-width: 993px) {
  .c-image-card__social-item {
    width: 45px;
    height: 45px;
    font-size: 1rem;
  }
}
@media (max-width: 769px) {
  .c-image-card__social-item {
    font-size: 1.5rem;
  }
}

.c-logos {
  background: #f8f8f8;
  padding: 4.375rem 0;
}
.c-logos__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.c-logos__item {
  margin-right: 2rem;
}
.c-logos__item-image {
  width: 100%;
  height: auto;
}
@media (max-width: 601px) {
  .c-logos__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .c-logos__item {
    width: min(50%, 150px);
    padding: 0 max(15px, 5vw);
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.c-work__list {
  display: flex;
  width: 100%;
}
.c-work__column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 769px) {
  .c-work__list {
    flex-wrap: wrap;
  }
  .c-work__column {
    flex: none;
    width: 50%;
  }
}
@media (max-width: 601px) {
  .c-work__list {
    flex-direction: column;
  }
  .c-work__column {
    width: 100%;
  }
}

.c-clients {
  background: url("../images/clients/clients-bg.jpg");
  background-size: cover;
  background-position: center;
}
.c-clients__list {
  display: grid;
  grid-row-gap: 70px;
}
.c-clients__row {
  display: flex;
  justify-content: space-between;
}
.c-clients__item {
  position: relative;
  padding-left: 140px;
  max-width: 45%;
}
.c-clients__photo-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.c-clients__info:after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background: #f38181;
  margin-top: 1.25rem;
}
.c-clients__name {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-clients__job {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 1.25rem;
}
.c-clients__comment {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  margin-top: 1.5625rem;
  line-height: 1.4;
}
@media (max-width: 769px) {
  .c-clients__list {
    max-width: 600px;
    grid-row-gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .c-clients__row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .c-clients__item {
    max-width: 100%;
    margin-bottom: 60px;
  }
}
@media (max-width: 601px) {
  .c-clients__photo-container {
    position: static;
    transform: translate(0);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .c-clients__list {
    max-width: 100%;
  }
  .c-clients__item {
    padding: 0;
  }
  .c-clients__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .c-clients__comment {
    text-align: center;
  }
}

.c-blog__list {
  display: flex;
  justify-content: space-between;
}
.c-blog__item {
  width: 30%;
}
.c-blog__item-header {
  position: relative;
}
.c-blog__image {
  width: 100%;
}
.c-blog__date {
  position: absolute;
  bottom: 0.625rem;
  left: -0.625rem;
  z-index: 100;
  padding: 0.9375rem 0.9375rem;
  background: #95e1d3;
}
.c-blog__date-day {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}
.c-blog__date-month {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  font-style: italic;
}
.c-blog__content {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0 25px;
}
.c-blog__title {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 1.4;
}
.c-blog__title:hover {
  text-decoration: underline;
}
.c-blog__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 1.25rem;
  line-height: 1.4;
}
.c-blog__info {
  margin-top: 20px;
  display: flex;
  justify-content: start;
}
.c-blog__comments {
  margin-left: 1.25rem;
}
.c-blog__info-icon {
  color: #95e1d3;
  font-size: 1.125rem;
  margin-right: 0.625rem;
}
.c-blog__info-text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  font-style: italic;
}
@media (max-width: 769px) {
  .c-blog__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .c-blog__item {
    width: 100%;
    margin-bottom: 60px;
  }
}

.c-map {
  padding: 50px 0;
  background: url("../images/map/map-bg.png");
  block-size: cover;
  background-position: center;
}
.c-map__title {
  text-align: center;
  color: #f38181;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-map__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #f38181;
  margin: 1.25rem auto 0;
}
.c-map__icon {
  font-size: 1.75rem;
}
.c-map__link {
  color: #f38181;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0.625rem;
}
.c-map__link:hover {
  text-decoration: underline;
}

.c-footer {
  background: #f8f8f8;
  padding: 80px 0;
}
.c-footer__inner {
  display: flex;
  justify-content: space-between;
}
.c-footer__info {
  width: 36%;
}
.c-footer__info-title {
  color: #cccccc;
  font-family: "Montserrat", sans-serif;
  font-size: 2.875rem;
  font-weight: 700;
}
.c-footer__info-text {
  margin-top: 2.5rem;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.6;
}
.c-footer__followers {
  margin-top: 3.125rem;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.c-footer__followers-number {
  font-size: 1.125rem;
  font-weight: 700;
}
.c-footer__socials {
  display: flex;
  padding-top: 1.25rem;
  border-top: 1px solid #e5e5e5;
  margin-top: 0.625rem;
}
.c-footer__socials-list {
  display: flex;
}
.c-footer__socials-title {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  font-style: italic;
  margin-right: 1.25rem;
}
.c-footer__socials-item {
  color: #95e1d3;
  font-size: 1.125rem;
  margin-right: 15px;
  transition: transfrom 0.3s, color 0.3s;
}
.c-footer__socials-item:hover {
  color: #f38181;
  transform: scale(1.1);
}
.c-footer__subscribe {
  width: 80%;
  display: flex;
  margin-top: 2.5rem;
}
.c-footer__email-input {
  min-width: 80%;
  color: #333;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  font-style: italic;
  background: #fff;
  padding: 0.9375rem 0.9375rem;
  border: 1px solid #f8f8f8;
  transition: box-shadow 0.3s;
}
.c-footer__email-input:focus {
  border: 2px solid #f38181;
}
.c-footer__email-input::placeholder {
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  font-style: italic;
}
.c-footer__email-submit {
  outline: none;
  box-shadow: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.9375rem 2.1875rem;
  border: 2px solid #95e1d3;
  background: #95e1d3;
  transition: color 0.3s, background 0.3s, border 0.3s, box-shadow 0.3s;
}
.c-footer__email-submit:hover {
  border: 2px solid #46cbb2;
  background: #46cbb2;
}
.c-footer__email-submit:active {
  color: #95e1d3;
  background: #f8f8f8;
}
.c-footer__email-submit:focus {
  border: 2px solid #f38181;
}
.c-footer__blogs {
  width: 27%;
}
.c-footer__instagram {
  width: 22%;
}

.c-footer-blogs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-footer-blogs__title {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-footer-blogs__list {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}
.c-footer-blogs__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.c-footer-blogs__image-container {
  margin-right: 1.25rem;
  width: 80%;
}
.c-footer-blogs__image {
  width: 100%;
  height: auto;
}
.c-footer-blogs__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.c-footer-blogs__item-title {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.4;
}
.c-footer-blogs__item-title:hover {
  text-decoration: underline;
}
.c-footer-blogs__date {
  margin-top: 0.625rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
}

.c-footer-instagram {
  display: flex;
  flex-direction: column;
}
.c-footer-instagram__title {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-footer-instagram__content {
  margin-top: 2.5rem;
}
.c-footer-instagram__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
.c-footer-instagram__item-image {
  width: 100%;
  height: 100%;
}
.c-footer-instagram__more {
  color: #333;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1.25rem;
}
.c-footer-instagram__more:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */
