@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ul {
  padding-left: 1.4em;
  list-style: disc;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999;
}

.l-wrapper {
  position: relative;
}
.l-wrapper__header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.l-container {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.c-button {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.86em 2.15em;
  border: 3px solid #fff;
  transition: background 0.5s, color 0.5s;
}
.c-button:hover {
  background: #fff;
  color: #fce38a;
}

.c-slider-info {
  width: 100%;
}
.c-slider-info__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.c-slider-info__item {
  width: 23%;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}
.c-slider-info__item--is-active {
  opacity: 1;
}
.c-slider-info__progress-background {
  width: 100%;
  height: 3px;
  background: #fff;
}
.c-slider-info__progress {
  width: 0;
  height: 100%;
  background: #f38181;
}
.c-slider-info__title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.4em;
}
.c-slider-info__number {
  font-size: 1.5rem;
  font-weight: 700;
}

.c-header {
  padding: 30px 0;
  width: 100%;
}
.c-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-header__logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-nav__link {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0.7em;
  position: relative;
  transition: color 0.5s;
}
.c-nav__link:after {
  content: "";
  display: block;
  background: #fff;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.5s, background 0.5s, opacity 0.5s;
}
.c-nav__link:hover {
  color: #fce38a;
}
.c-nav__link:hover:after {
  transform: translateY(3px);
  background: #fce38a;
  opacity: 1;
}
.c-nav__link--icon-link {
  font-size: 1.125rem;
}
.c-nav__link--icon-link:after {
  display: none;
}

.c-intro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background: url("/assets/images/intro/intro-background.jpg");
  background-size: cover;
}
.c-intro__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-intro__title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 9.375rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  max-width: 850px;
}
.c-intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 75px auto 0 auto;
}
.c-intro__suptitle {
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  max-width: 520px;
}
.c-intro__button {
  margin-top: 55px;
}
.c-intro__slider-info {
  position: absolute;
  bottom: 30px;
  left: 0;
}

.c-section-message {
  text-align: center;
}
.c-section-message__title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0.8em;
}
.c-section-message__title:after {
  content: "";
  display: block;
  background: #f38181;
  height: 3px;
  width: 60px;
  margin: 40px auto 0 auto;
}
.c-section-message__suptitle {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
}
.c-section-message__text {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999;
  margin-top: 2.81em;
}

.c-about {
  padding: 90px 0 110px 0;
}
.c-about__list {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.c-about__item {
  width: 380px;
}

.c-image-card {
  background: #95e1d3;
}
.c-image-card__inner {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s;
}
.c-image-card__image-container {
  transition: opacity 0.2s;
}
.c-image-card__image {
  display: block;
}
.c-image-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.c-image-card__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
.c-image-card:hover .c-image-card__inner {
  transform: translate(-10px, -10px);
}
.c-image-card:hover .c-image-card__image-container {
  opacity: 0.1;
}
.c-image-card:hover .c-image-card__title {
  opacity: 1;
}

.c-stats {
  width: 100%;
  background: #95e1d3;
}
.c-stats__inner {
  display: flex;
}
.c-stats__item {
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 90px 0;
}
.c-stats__item:last-child {
  border: 1px solid #b5eae0;
}
.c-stats__number {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}
.c-stats__title {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

.c-service {
  padding: 120px 0 70px 0;
}
.c-service__list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.c-service__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 0;
}
.c-service__row:last-child {
  border: none;
}

.c-service-item {
  position: relative;
}
.c-service-item__image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.c-service-item__message {
  margin-left: 60px;
}
.c-service-item__title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.c-service-item__text {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-top: 1.4em;
}
/*# sourceMappingURL=main.css.map */
