
.c-service-info {

    &__image-container {
        width: 50%;
        padding: 0 15px;
    }

    &__image {
        max-width: 100%;
        height: auto;

        display: block;
    }

    &__container {
        display: flex;

        justify-content: space-between;
    }

    &__accordion-container {
        width: 50%;

        padding: 0 15px;
    }

    &__accordion-item {
        width: 100%;

        margin-bottom: .9375rem;
    }

    @media (max-width: 769px) {

        &__image-container {
            display: none;
        }

        &__accordion-container {
            width: 100%;
        }
    }
}

@import "common/c-accordion-item/c-accordion-item";
