// Nomalize
@import "normalize";

// Fonts
@import "fonts";


html, body {
    padding: 0;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

// Default font
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999;
}

// Wrapper 
.l-wrapper {

    position: relative;

    &__header {
        position: absolute;

        top: 0;
        left: 0;

        z-index: 100;
    }
}


// Container
.l-container {
    width: 100%;
    max-width: 1200px;

    display: block;

    margin: 0 auto;
}

// Import compoonents
@import "common/c-header/c-header";
@import "common/c-intro/c-intro";


@import "common/c-section/c-section";
@import "common/c-about/c-about";
@import "common/c-stats/c-stats";
@import "common/c-service/c-service";
@import "common/c-devices/c-devices";
@import "common/c-service-info/c-service-info";
@import "common/c-reviews/c-reviews";
@import "common/c-team//c-team";
@import "common/c-logos/c-logos";
@import "common/c-work/c-work";
@import "common/c-clients/c-clients";
@import "common/c-blog/c-blog";
@import "common/c-map/c-map";
@import "common/c-footer/c-footer";

