// Nomalize
@import "normalize";

// Fonts
@import "fonts";


html, body {
    padding: 0;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

// Default font
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999;
}

// Wrapper 
.l-wrapper {

    position: relative;

    &__header {
        position: absolute;

        top: 0;
        left: 0;

        z-index: 100;
    }
}


// Container
.l-container {
    width: 100%;
    max-width: 1200px;

    display: block;

    margin: 0 auto;
}


@import "common/c-button/c-button";
@import "common/c-slider-info/c-slider-info";
@import "common/c-header/c-header";
@import "common/c-nav/c-nav";
@import "common/c-intro/c-intro";
@import "common/c-section-message/c-section-message";
@import "common/c-image-card/c-image-card";
@import "common/c-about/c-about";