.c-devices {

    background: url("../images/devices/devices-bg.jpg");
    background-size: cover;
    background-position: center;

    &__inner {
        display: flex;

        flex-direction: column;
        justify-content: space-between;

    }


    &__devices {
        display: flex;

        justify-content: center;
    }

    &__images-container {
        transform: translateX(-1.625rem);

        position: relative;
    }

    &__ipad {
        display: block;

        max-width: 100%;
        height: auto;
    }

    &__iphone-container {
        position: absolute;

        
        bottom: -70px;
        right: -140px;
    }

    &__iphone {
        display: block;

        width: 100%;
    }

    @media (max-width: 769px) {
        &__images-container {
            max-width: 320px;
        }

        &__iphone-container {

            width: 180px;

            bottom: -40px;
            right:  -80px;
        }
    }

    @media (max-width: 501px) {
        &__images-container {
            max-width: 250px;
        }

        &__iphone-container {
            width: 100px;

            bottom: -40px;
            right: -40px;
        }
    }
}