$color-white: #fff;
$color-red: #eb8b8d;


$animation-duration: .3s;

.c-header {

    padding: 30px 0;

    width: 100%;

    position: absolute;

    transition: background $animation-duration;

    z-index: 101;

    &__inner {
        display: flex;

        justify-content: space-between;
        align-items: center;


    }

    &__adaptive-block {
        display: flex;

        justify-content: space-between;
        width: 100%;
    }

    &__logo {
        color: $color-white;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.875rem;
        font-weight: 700;
    }

    &__button {

        color: $color-white;

        font-size: 2.4rem;

        cursor: pointer;

        display: none;

        outline: none;
        box-shadow: none;
        background: transparent;
        border: 0;
    }


    @media (max-width: 769px) {

        background: #eb8b8d;
        padding: 0;

        &__container {
            padding: 0;
        }

        
        &__inner {
            flex-direction: column;
        }

        &__adaptive-block {
            padding: 15px 30px;
        }

        &__nav {

            width: 100%;

            display: none;

            background: lighten($color: $color-red, $amount: 2.5);

            overflow-y: hidden;

            &--is-active {
                display: block;
            }
        }

        &__button {
            display: block;
        }

        &--fixed {
            position: fixed;
        }
    }
}

@import "common/c-nav/c-nav";
@import "common/o-button/o-button";
@import "common/c-slider-info/c-slider-info";

